[Unit]
Description=Auto Aim Auto Launch Service
After=network.target network-online.target

[Service]
Type=simple
User=sentry-vision
ExecStart=/bin/bash -c "/home/sentry-vision/rm2026/transistor_rm2026_algorithm_visual_ws/auto_launch/auto_aim_launch.sh"
WorkingDirectory=/home/sentry-vision/rm2026/transistor_rm2026_algorithm_visual_ws

[Install]
WantedBy=multi-user.target
